body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: Arial;
    /*perspectiva 3d*/
    perspective: 200px;
    /* perspective-origin: x,y; */
    perspective-origin: center;
}
.container{
    border: 1px solid red;
}
.container:hover .cuadrado{
    /*escala del elemento (tamaño)*/
    /* transform: scale(x,y) */
    /* transform: scale(0 = 0% del tamaño - 1 = 100% del tamaño) */
    /* transform: scale(.5); */
    transform: scale(2, .5);
}
.cuadrado{
    height: 200px;
    width: 200px;
    background: #7dc900;
    margin: 20px;
   transition: .3s;
}